<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.wgtech.imoge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="project.wgtech.imoge.common.GlobalApplication"
        android:label="${appName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="false"
        android:theme="@style/Theme.Imoge.Common"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">

        <activity android:name="project.wgtech.imoge.main.SplashActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="project.wgtech.imoge.main.MainActivity"
            android:enabled="true"
            android:exported="true"/>
        <activity android:name="project.wgtech.imoge.explore.view.ExploreDetailActivity"
            android:enabled="true"
            android:exported="false"
            android:configChanges="uiMode" />

        <receiver android:name="project.wgtech.imoge.common.CommonBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>